server:
  port: 8081
  servlet:
    context-path: /api/v1
spring:
  application:
    name: workloads-service
  datasource:
    url: jdbc:h2:mem:workloads
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
  h2:
    console:
      enabled: true
      path: /h2-console
management:
  endpoints:
    web:
      exposure:
        include: health, info, prometheus
eureka:
  client:
    enabled: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
  instance:
    preferIpAddress: false
jwt:
  secret: ${JWT_KEY}



